<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation"> <a [routerLink]="['']"> Home </a> </li>
    <li role="presentation"> <a [routerLink]="['/profile']"> Profile </a> </li>
    <li role="presentation" class="active"> <a [routerLink]="['/classes']"> Classes </a> </li>
    <li role="presentation"> <a [routerLink]="['/checkin']"> Checkin </a> </li>
    <li role="presentation"> <a [routerLink]="['/manage']"> Manage </a> </li>
  </ul>
</div>

<div>
  <h1> LIST OF CLASSES</h1>
  <ul>
    <li *ngFor="let class of classes | async">
      Class Name: {{class.className}}
      <p>Section number: {{class.sectionNumber}}</p>
      <p>Owner: {{class.classOwner}}</p>
    </li>
  </ul>
</div>

<div>
  <h1>LIST OF USERS</h1>
  <ul>
    <li *ngFor="let user of users | async">
      userName: {{user.userName}}
      <p>email: {{user.userEmail}}</p>
      <p>isProfessor: {{user.isProfessor}}</p>
    </li>
  </ul>
</div>
