<a [routerLink]="['']" >Home</a>
<a [routerLink]="['/profile']"> Profile </a>
<a [routerLink]="['/classes']" >Classes</a>
<a [routerLink]="['/checkin']" >Checkin</a>
<a [routerLink]="['/manage']" >Manage</a>

<div class="container">
  <div class="row">
    <div class="col col-md-12">
      <div class="jumbotron">
        <h2> {{user.name}} </h2>
        <h3> Email: {{user.email}} </h3>
        <h3> RedID: {{user.redid}} </h3>
        <button type="button" class="btn btn-primary" (click)="manageClasses()"> Manage Classes </button>
        <button type="button" class="btn btn-primary" (click)="userSettings()"> User Settings </button>
      </div>
    </div>
  </div>
</div>