<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation"> <a [routerLink]="['']"> Home </a> </li>
    <li role="presentation"> <a [routerLink]="['/profile']"> Profile </a> </li>
    <li role="presentation"> <a [routerLink]="['/classes']"> Classes </a> </li>
    <li role="presentation"> <a [routerLink]="['/checkin']"> Checkin </a> </li>
    <li role="presentation" class="active"> <a [routerLink]="['/manage']"> Manage </a> </li>
  </ul>
</div>

<manage-professor></manage-professor>
<manage-student></manage-student>
