<div class="container">
  <ul class="nav nav-pills">
    <li role="presentation"> <a [routerLink]="['']"> Home </a> </li>
    <li role="presentation"> <a [routerLink]="['/profile']"> Profile </a> </li>
    <li role="presentation"> <a [routerLink]="['/classes']"> Classes </a> </li>
    <li role="presentation" class="active"> <a [routerLink]="['/checkin']"> Checkin </a> </li>
    <li role="presentation"> <a [routerLink]="['/manage']"> Manage </a> </li>
  </ul>
</div>

<h1>
  This page will load the sub component based on what usertype
  is logged ins
</h1>

<professor-checkin></professor-checkin>
<student-checkin></student-checkin>
